# Terminating HTTPS on EC2 Instances Running Docker
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-singleinstance-docker.html
#
# One configuration file can contain multiple sections, or you can split your
# configuration into multiple files. Configuration files are processed in
# alphabetical order, so you can split your configuration activities into
# multiple stages.
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/ebextensions.html
#
# About the formatting (indentation) of the multiline certificate below
# http://stackoverflow.com/a/15365296
files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDzDCCArQCCQDjI6m//HUVPzANBgkqhkiG9w0BAQUFADCBpzELMAkGA1UEBhMC
      RVMxEjAQBgNVBAgTCUNhdGFsdW55YTESMBAGA1UEBxMJQmFyY2Vsb25hMRUwEwYD
      VQQKEwxCYW5rQm90c0JhbmsxODA2BgNVBAMTL2Jhbmtib3RzYmFuay1lbnYudXMt
      d2VzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMR8wHQYJKoZIhvcNAQkBFhB4YXZp
      QGNhYmFsbGUucHJvMB4XDTE2MDcyMzE2NTIyNVoXDTI2MDcyMTE2NTIyNVowgacx
      CzAJBgNVBAYTAkVTMRIwEAYDVQQIEwlDYXRhbHVueWExEjAQBgNVBAcTCUJhcmNl
      bG9uYTEVMBMGA1UEChMMQmFua0JvdHNCYW5rMTgwNgYDVQQDEy9iYW5rYm90c2Jh
      bmstZW52LnVzLXdlc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTEfMB0GCSqGSIb3
      DQEJARYQeGF2aUBjYWJhbGxlLnBybzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
      AQoCggEBAL6GVu7Zi5csGEzu1E+2IYJHJj8r4vzP4rLynbQITaf5boc8RrNRWbpH
      Ww+jKdjO5ABKF3iQyt3lbGJ2DfPSjlEI1dvJaaVqS692IDuL162iwutRXRB1YguU
      4JdWe7UapXnPBdEwiFrak6B4QdnUAoEGy1+DeA4/NHj2/9rNm9TfrghxbHDVxIhL
      woO9NTOW2O+ceGpnjGErme4e0AfznktrTZRmOYy64LtHjZfew6d92Zd1TP17BO33
      w75DZpQhW1DHOE5K+RfDXpgRnVgzVe1WK3la2GKWctq2Ay/EDX300q41Eee+0Ky1
      L6Q4zO6qzmhgRkXUbFl3RJ6A/q9Kf+sCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEA
      hGXV0aPH+XUJ5dWHB6QwuP0Buy84swqm/Lf8t0uHOEYuc6GgpACHUawU7LO/Shc+
      DCS9Xn+nwSPj1/mrCU9TuqkowOZNmojirjkYHtCqnKAAS9M87Q2fM1b2guwaq6Ey
      NNYkwRF+VaDsQ2aX/6qPlgctVA4nOhV6nwfhzmv3lHfXPRPb5E5JzkiO2YG1kaTe
      9+Oy1jMVukjyqv8YldSzcvp5HRgUlddorueOXbvnCr2R/oNVwQLxmBel0z1r8JMa
      Mvke37vtfqUXT36Wkx0NJBKx8a/vT/dbF5K19/h1SQUtfJLzYySk67Mi10+2r9AR
      NCO9r3KisiihN8+IPMXNjQ==
      -----END CERTIFICATE-----
